body
{
    background:#fff;
}

/*---css menu ngang---------------------------------------------------*/
/* điều chỉnh màu sắc các thành phần trong menu 
thay đổi back ground*/
.StaticItem a
{
	color: #C00;
}

.StaticItem a:hover
{
	color: #F90;
}

/*----------------------------------------------------------------------*/