body
{
    background:#fff;
}
/*hình ảnh cho header-----------------------------------------------------------*/
#header_bg_right2 {
	background: url("images/header_bg_right2.gif");
}
/*---css menu ngang---------------------------------------------------*/
/* điều chỉnh màu sắc các thành phần trong menu 
thay đổi back ground*/
.Menu {
	background-image: url(images/menu_bg.gif);
}

.DynamicItem a
{
	color: #FFFFFF;
}

.DynamicItem a {
	color: #4AD2FF;
}

.StaticItem a {	
    color: #C00;
}

.StaticItem a:hover {
	color: #F90;
}
/*------------------------------------------------------------------------*/