<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.CongTyLuHanhConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\My Documents\1. Study\2010-2011\3. Phat trien ung dung web\working copy c3\3. ASP.NET Template\Web_c3\Web_c3\App_Data\CongTyLuHanh.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>