body
{
	margin: 0;
	padding: 0;
	
}

form 
{
    position:relative;
    float:left;
    clear:right;
    background:none;
    padding:0;
    margin:0;
    border:none;
}

/*---header-----------------------------------------------------------------*/
div#top
{
    margin: 0;
	padding: 0;
	position:relative;
    float:left;
    clear:both;
}

table.layout-table
{
	border: 0;
	border-spacing: 0;
	position:relative;
    float:left;
    clear:right;
}

table.layout-table td
{
	padding: 0;
	margin: 0;
	text-align: inherit;
}

table.layout-table td.content
{
	border: 1px solid #D5D8DE;	
	padding: 5px;
	vertical-align: top;
}

table.layout-table td.content img
{
	float: left;
	padding: 5px;
}

table.layout-table td.content .header
{
	color: #094C93;
	font:bold 20px tahoma;
	text-decoration:none;
}
/*---menu ngang-----------------------------------------------------------------*/
/*---các style chung của menu ngang, màu sắc. hover, visited ở trong theme------*/
.menu_ngang li{
	display: block;
	float: left;
	text-align: center;
	vertical-align: middle;
	list-style-type: none;
	height: 37px;
	width: 120px;
	text-decoration: none;
	padding-top: 22px;
}
.menu_ngang li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

#menu_ngang_item_current_page {
	color: #C00;
	text-decoration: none;
}

.menu_ngang {
	background-image: url(images/menu_bg.gif);
	height: 59px;
	width: 682px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

/*---kết thúc css menu ngang---------------------------------------------------*/

div#page
{
    position:relative;
    float:left;
}

div#left
{
    position:relative;
    float:left;
}

div#content
{
   position:relative;
   float:left;
}

div#right
{
    position:relative;
    float:right;
}

div#bottom
{
    position:relative;
    float:left;
}

