/* CSS Document */

body{
	padding:0;
	margin:0;
	background:url(images/header_bg.gif) 0 0 repeat-x #292929;
	color:#D3D3D3;
}
div, h1, h2, p, form, label, input, textarea, img{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
}
.spacer{
	clear:both; 
	font-size:0px; 
	line-height:0px;
}
/*------------------------------------------------body--------------------*/

/*------------------------------------------------header start-------------------*/
#header{
	width:778px;
	margin:0 auto;
	background:url(images/header_pic.gif) 237px 0 no-repeat;
	height:188px;
	position:relative;
}
#header img{
	position:absolute;
	left:21px;
	top:64px;
}
#header ul{
	width:678px;
	height:35px;
	position:absolute;
	left:0;
	top:153px;
	padding:0 0 0 100px;
	background:url(images/nav_bg.gif) 0 0 repeat-x;
}
#header ul li{
	float:left;
}
#header ul li a{
	display:block;
	font: normal 11px/35px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	padding:0 25px 0 25px;
	height:35px;
	float:left;
	border-right:#2B2B2B solid 1px;
	border-left:#000000 1px solid;
}
#header ul li a:hover{
	background:url(images/navi_h_bg.gif) repeat-x 0 0; 
	border-left:#292929 1px solid;
	border-right:#292929 1px solid;
	height:35px; 
}
#header ul li.home{
	display:block;
	font: normal 11px/35px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background:url(images/navi_h_bg.gif) repeat-x 0 0 #0B0B0B;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	padding:0 25px 0 25px;
	height:35px;
	float:left;
	border-right:#2B2B2B solid 1px;
	border-left:#000000 1px solid;
}
#header ul li a.nobdr{
	display:block;
	font: normal 11px/35px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	padding:0 25px 0 25px;
	height:35px;
	width:29px;
	border-right:none;
}
#header ul li.nobdr a:hover{
	background:url(images/nav_bg_hover.gif) 0 0 no-repeat;
	height:35px;
}
/*------------------------------------------------header end-------------------*/

/*------------------------------------------------body left part start-------------------*/
#body{
	width:778px;
	margin:0 auto;
	position:relative;
}
#left{
	width:133px;
	padding:28px 25px 0 17px;
	float:left;
}
#left h2.service{
	width:133px;
	height:31px;
	background-color:#0B0B0B;
	font:normal 30px/31px Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	text-align:center;
	margin:0 0 19px 0;
}
#left a.service-pic{
	display:block;
	background:url(images/service_icon.gif) 29px 0 no-repeat;
	height:68px;
	margin:0 0 32px 0;
}
#left a.service-pic:hover{
	display:block;
	background:url(images/service_icon_hover.gif) 29px 0 no-repeat;
	height:68px;
	margin:0 0 32px 0;
}
#left h2.blog{
	width:133px;
	height:32px;
	background-color:#0B0B0B;
	font:normal 30px/29px Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	text-align:center;
	margin:0 0 19px 0;
}
#left a.blog-pic{
	display:block;
	background:url(images/blog_icon.gif) 21px 0 no-repeat;
	height:70px;
	margin:0 0 42px 0;
}
#left a.blog-pic:hover{
	display:block;
	background:url(images/blog_icon_hover.gif) 21px 0 no-repeat;
	height:70px;
	margin:0 0 42px 0;
}
#left h2.faq{
	width:133px;
	height:32px;
	background-color:#0B0B0B;
	font:normal 30px/28px Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	text-align:center;
	margin:0 0 13px 0;
}
#left a.faq-pic{
	display:block;
	background:url(images/faq_icon.gif) 21px 0 no-repeat;
	height:68px;
	margin:0 0 37px 0;
}
#left a.faq-pic:hover{
	display:block;
	background:url(images/faq_icon_hover.gif) 21px 0 no-repeat;
	height:68px;
	margin:0 0 37px 0;
}
#left h2.event{
	width:133px;
	height:32px;
	background-color:#0B0B0B;
	font:normal 30px/28px Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	text-align:center;
	margin:0 0 22px 0;
}
#left a.event-pic{
	display:block;
	background:url(images/event_icon.gif) 21px 0 no-repeat;
	height:96px;
	margin:0 0 83px 0;
}
#left a.event-pic:hover{
	display:block;
	background:url(images/event_icon_hover.gif) 21px 0 no-repeat;
	height:96px;
	margin:0 0 83px 0;
}
/*------------------------------------------------body left part end-------------------*/

/*------------------------------------------------body mid part start-------------------*/
#mid{
	width:385px;
	float:left;
	padding:28px 20px 0 0;
}
#mid p{
	padding:0;
	margin:0;
}
#mid p.text1{
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	margin:0 0 23px 0;
	padding:0;
}
#mid p.text2{
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	margin:0;
	padding:0;
}
#mid h2{
	display:block;
	width:334px;
	font:normal 18px/15px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	margin:0 0 10px 0;
	padding:0;
}
#mid p.div{
	display:block;
	background:url(images/mid_div.gif) 0 0 repeat-x;
	width:311px;
	height:5px;
	float:left;
	margin:0 0 35px 0;
	padding:0;
	font-size:0;
}
#mid a.more{
	display:block;
	background:url(images/more_bg.gif) 0 0 no-repeat #292929;
	width:52px;
	height:14px;
	padding:0 0 0 6px;
	position:absolute;
	top:128px;
	left:492px;
	margin:0;
	font:bold 13px/11px Arial, Helvetica, sans-serif;
	color:#00A2D1;
	text-decoration:none;
}
#mid a.more:hover{
	color:#ffffff;
	background:url(images/more_bg_hover.gif) 0 0 no-repeat #292929;
}
#mid h2.wb{
	display:block;
	width:334px;
	font:normal 18px/15px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	margin:0 0 0 0;
	padding:0;
}

#mid a.more2{
	display:block;
	background:url(images/more_bg.gif) 0 0 no-repeat #292929;
	width:52px;
	height:14px;
	padding:0 0 0 6px;
	position:absolute;
	top:300px;
	left:492px;
	margin:0;
	font:bold 13px/11px Arial, Helvetica, sans-serif;
	color:#00A2D1;
	text-decoration:none;
}
#mid a.more2:hover{
	color:#ffffff;
	background:url(images/more_bg_hover.gif) 0 0 no-repeat #292929;
}
#mid span.orange{
	font:bold 13px/24px Arial, Helvetica, sans-serif;
	color:#FD7302;
	background-color:#292929;
	margin:0 190px 0 0;
}
mid span.nor{
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	margin:0;
	padding:0;
}
mid span.nor2{
	font:normal 13px/18px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	margin:0 0 19px 0;
	padding:0;
}
#mid p.div2{
	display:block;
	background:url(images/mid_div.gif) 0 0 repeat-x;
	width:311px;
	height:5px;
	float:left;
	margin:0 0 30px 0;
	padding:0;
	font-size:0;
}
#mid ul.faq2{
	margin:16px 0 0 0;
}
#mid ul.faq2 li{
	background:url(images/bullet.gif) 3px 7px no-repeat;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	padding:0 0 0 21px;
}
#mid span.white{
	font:bold 13px/20px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#292929;
	margin:0;
	padding:0;
}
#mid p.div3{
	display:block;
	background:url(images/mid_div.gif) 0 0 repeat-x;
	width:311px;
	height:5px;
	float:left;
	margin:26px 0 30px 0;
	padding:0;
	font-size:0;
}
#mid a.more3{
	display:block;
	background:url(images/more_bg.gif) 0 0 no-repeat #292929;
	width:52px;
	height:14px;
	padding:0 0 0 6px;
	position:absolute;
	top:452px;
	left:492px;
	margin:0;
	font:bold 13px/11px Arial, Helvetica, sans-serif;
	color:#00A2D1;
	text-decoration:none;
}

#mid a.more3:hover{
	color:#ffffff;
	background:url(images/more_bg_hover.gif) 0 0 no-repeat #292929;
}
#mid span.yellow{
	font:bold 13px/30px Arial, Helvetica, sans-serif;
	color:#FCB71F;
	background-color:#292929;
}
#mid ul.event2{
	margin:0;
}
#mid ul.event2 li{
	background:url(images/bullet.gif) 3px 7px no-repeat;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background-color:#292929;
	padding:0 0 0 21px;
}
#mid p.div4{
	display:block;
	background:url(images/mid_div.gif) 0 0 repeat-x;
	width:311px;
	height:5px;
	margin:8px 0 2px 0;
	padding:0;
	font-size:0;
}
#mid p.yellow2{
	display:block;
	width:63px;
	font:bold 13px/32px Arial, Helvetica, sans-serif;
	color:#FCB71F;
	background-color:#292929;
	margin:0;
	padding:0;
}
#mid a.more4{
	display:block;
	background:url(images/more_bg.gif) 0 0 no-repeat #292929;
	width:52px;
	height:14px;
	padding:0 0 0 6px;
	position:absolute;
	top:590px;
	left:492px;
	margin:0;
	font:bold 13px/11px Arial, Helvetica, sans-serif;
	color:#00A2D1;
	text-decoration:none;
}
#mid a.more4:hover{
	color:#ffffff;
	background:url(images/more_bg_hover.gif) 0 0 no-repeat #292929;
}
#mid p.div5{
	display:block;
	background:url(images/mid_div.gif) 0 0 repeat-x;
	width:311px;
	height:5px;
	margin:17px 0 0 0;
	padding:0;
	font-size:0;
}
#mid a.more5{
	display:block;
	background:url(images/more_bg.gif) 0 0 no-repeat #292929;
	width:52px;
	height:14px;
	padding:0 0 0 6px;
	position:absolute;
	top:685px;
	left:492px;
	margin:0;
	font:bold 13px/11px Arial, Helvetica, sans-serif;
	color:#00A2D1;
	text-decoration:none;
}
#mid a.more5:hover{
	color:#ffffff;
	background:url(images/more_bg_hover.gif) 0 0 no-repeat #292929;
}
/*------------------------------------------------body mid part end------------------*/

/*------------------------------------------------body right part start------------------*/
#right{
	width:198px;
	padding:21px 0 0 0;
	float:left;
}
#right h2.member{
	display:block;
	width:188px;
	height:34px;
	background:url(images/member_login_top.gif) 0 0 no-repeat #292929;
	font:normal 20px/34px Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	padding:0 0 0 10px;
}
#member-login{
	width:175px;
	height:85px;
	border-bottom:#4D4D4D solid 1px;
	border-left:#4D4D4D solid 1px;
	border-right:#4D4D4D solid 1px;
	background-color:#0B0B0B;
	color:#ffffff;
	padding:18px 12px 0 9px;
	margin:0 0 5px 0;
	float:left;
}
#member-login label{
	display:block;
	width:62px;
	font:normal 13px/21px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	margin:0 0 12px 0;
	text-transform:capitalize;
	float:left;
}
#member-login label.pass{
	display:block;
	width:62px;
	font:normal 13px/21px Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	margin:0;
	text-transform:capitalize;
	float:left;
}
#member-login input.txtbox{
	width:103px;
	height:21px;
	font:normal 12px/21px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:#ffffff;
	padding:0;
	margin:0 0 8px 0;
	float:right;
}
#member-login a.blue{
	display:block;
	width:132px;
	font:normal 10px/14px Arial, Helvetica, sans-serif;
	color:#00A2D1;
	background-color:#0B0B0B;
	margin:0;
	padding:0;
	text-transform:uppercase;
	float:left;
	text-decoration:none;
}
#member-login a.blue:hover{
	color:#ffffff;
	background-color:#0B0B0B;
}
.btn-go{
	float:right;
	border:none;
	margin:2px 0 0 0;
	padding:0;
}
#right img.banner{
	float:left;
	margin:0 0 9px 0;
	padding:0;
	width:198px;
	height:80px;
	border:none;
}
#right img.banner a{
	margin:0;
	padding:0;
}
#right h2{
	display:block;
	width:96px;
	font:normal 20px/51px Georgia, "Times New Roman", Times, serif;
	color:#ffffff;
	background-color:#292929;
	padding:0 0 0 10px;
}
#right ul{
	width:174px;
	margin:0 0 0 10px;
}
#right ul li.bg{
	width:160px;
	height:22px;
	font:normal 13px/22px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background:url(images/arrow_yellow.gif) 0 7px no-repeat #0B0B0B;
	padding:0 0 0 14px;
}
#right ul li.nobg{
	width:165px;
	height:26px;
	font:normal 13px/26px Arial, Helvetica, sans-serif;
	color:#D3D3D3;
	background:url(images/arrow_yellow.gif) 0 9px no-repeat #292929;
	padding:0 0 0 14px;
}
/*------------------------------------------------body right part end------------------*/

/*------------------------------------------------footer start------------------*/
#footer-main{
	width:100%;
	background:url(images/footer_bg.gif) 0 0 repeat-x;
	height:90px;
	padding:24px 0 0 0;
	float:left;
}
#footer{
	width:778px;
	margin:0 auto;
	position:relative;
}
#footer ul{
	display:block;
	width:491px;
	height:13px;
	position:absolute;
	left:180px;
	padding:0;
	margin:0;
}
#footer ul li{
	display:block;
	font:normal 11px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	float:left;
}
#footer ul li a{
	font:normal 11px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	text-decoration:none;
	padding:0 14px 0 14px;

}
#footer ul li a:hover{
	text-decoration:underline;
}
#footer ul li.home2{
	display:block;
	font:normal 11px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	text-decoration:none;
	padding:0 14px 0 14px;
	float:left;
}
#footer p.copyright{
	display:block;
	font:normal 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	padding:0;
	margin:0 57px 0 0;
	position:absolute;
	left:192px;
	top:30px;
	float:left;
}
#footer p.botlink{
	display:block;
	width:95px;
}
#footer a.xht{
	display:block;
	width:61px;
	background:url(images/arrow_blue.gif) 45px 3px no-repeat;
	font:bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	text-transform:uppercase;
	float:left;
	text-decoration:none;
	position:absolute;
	left:490px;
	top:30px;
}
#footer a.xht:hover{
	color:#00A2D1;
	background-color:#0B0B0B;
}
#footer a.cs{
	display:block;
	width:33px;
	background:url(images/arrow_orange.gif) 24px 3px no-repeat;
	font:bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#ffffff;
	background-color:#0B0B0B;
	text-transform:uppercase;
	float:left;
	text-decoration:none;
	position:absolute;
	left:551px;
	top:30px;
}
#footer a.cs:hover{
	color:#FD7302;
	background-color:#0B0B0B;
} 
#footer p.design{
	display:block;
	width:161px;
	height:17px;
	position:absolute;
	left:309px;
	top:65px;
	font:normal 12px/17px Arial, Helvetica, sans-serif;
	color:#414141;
	background-color:#ffffff;
	text-align:center;
}
#footer a.link{
	font:bold 12px/17px Arial, Helvetica, sans-serif;
	color:#414141;
	background-color:#ffffff;
	text-align:center;
	text-decoration:none;
}
#footer a.link:hover{
	color:#528B01;
	background-color:#ffffff;
}
/*------------------------------------------------footer end------------------*/
