<html>
<head>
<title>markup homepage template 2 - bo phan hotline</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (markup homepage template 2 - bo phan hotline.psd) -->
<table id="Table_01" width="996" height="854" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="3">
			<img src="images/header_bg_left.gif" width="270" height="193" alt=""></td>
		<td colspan="2">
			<img src="images/header_bg_mid.gif" width="412" height="193" alt=""></td>
		<td colspan="4">
			<img src="images/header_bg_right.gif" width="313" height="193" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="193" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="images/menu_bg.gif" width="682" height="59" alt=""></td>
		<td colspan="4">
			<img src="images/header_bg_right2.gif" width="313" height="59" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="59" alt=""></td>
	</tr>
	<tr>
		<td colspan="9">
			<img src="images/menu_bg_bottom.gif" width="995" height="22" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="22" alt=""></td>
	</tr>
	<tr>
		<td colspan="6">
			<img src="images/markup-homepage-template_07.gif" width="686" height="23" alt=""></td>
		<td colspan="3" rowspan="2">
			&nbsp;</td>
		<td>
			<img src="images/spacer.gif" width="1" height="23" alt=""></td>
	</tr>
	<tr>
		<td rowspan="9">
			<img src="images/markup-homepage-template_09.gif" width="25" height="455" alt=""></td>
		<td>
			&nbsp;</td>
		<td colspan="2" rowspan="9">
			<img src="images/markup-homepage-template_11.gif" width="21" height="455" alt=""></td>
		<td rowspan="6">
			&nbsp;</td>
		<td rowspan="9">
			<img src="images/markup-homepage-template_13.gif" width="4" height="455" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="101" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="images/markup-homepage-template_14.gif" width="244" height="19" alt=""></td>
		<td colspan="3">
			<img src="images/markup-homepage-template_15.gif" width="309" height="18" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="18" alt=""></td>
	</tr>
	<tr>
		<td rowspan="7">
			<img src="images/markup-homepage-template_16.gif" width="31" height="336" alt=""></td>
		<td rowspan="6">
			&nbsp;</td>
		<td rowspan="7">
			<img src="images/markup-homepage-template_18.gif" width="35" height="336" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="1" alt=""></td>
	</tr>
	<tr>
		<td>
			&nbsp;</td>
		<td>
			<img src="images/spacer.gif" width="1" height="102" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/markup-homepage-template_20.gif" width="244" height="19" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="19" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			&nbsp;</td>
		<td>
			<img src="images/spacer.gif" width="1" height="26" alt=""></td>
	</tr>
	<tr>
		<td rowspan="3">
			<img src="images/markup-homepage-template_22.gif" width="392" height="188" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="77" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="images/markup-homepage-template_23.gif" width="244" height="111" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="8" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/markup-homepage-template_24.gif" width="243" height="103" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="103" alt=""></td>
	</tr>
	<tr>
		<td colspan="9">
			<img src="images/footer_bg.gif" width="995" height="101" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="101" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/spacer.gif" width="25" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="244" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="1" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="20" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="392" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="4" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="31" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="243" height="1" alt=""></td>
		<td>
			<img src="images/spacer.gif" width="35" height="1" alt=""></td>
		<td></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>