body
{
    color:#0084B4;
    background:#8EC1DA;
    font-weight:bold;
    font-family:'Helvetica Neue',Sans-serif;
    font-size:13px;
}
/*---css menu ngang---------------------------------------------------*/
/* điều chỉnh màu sắc các thành phần trong menu 
thay đổi back ground*/

.StaticItem a
{
	color: #714300;
}

.StaticItem a:hover
{
	color: #F90;
}

/*------------------------------------------------------------------------*/

/*---------------------------------------------------*/
/*các thẻ div chính*/
div#site
{
    background:#DAECF5;
}

div#top
{
}
div#left
{
}

div#content
{
}

div#right
{
}
