body
{
	margin: 0 0 0 5px;
	padding: 0;
	background-color: #FFFFFF;
}
p, h1, h2, h3, h4
{
	margin: 0;
	padding: 0;
}

table.layout-table
{
	border: 0;
	border-spacing: 0;
}

table.layout-table td
{
	padding: 0;
	margin: 0;
	text-align: inherit;
}

table.layout-table td.content
{
	border: 1px solid #D5D8DE;	
	padding: 5px;
	vertical-align: top;
}

table.layout-table td.content img
{
	float: left;
	padding: 5px;
}

table.layout-table td.content .header
{
	color: #094C93;
	font:bold 20px tahoma;
	text-decoration:none;
}

#Button1
{
	top: 212px;
	left: 380px;
}
.style1
{
	height: 26px;
}

.menu_ngang li{
	display: block;
	float: left;
	text-align: center;
	vertical-align: middle;
	list-style-type: none;
	height: 37px;
	width: 120px;
	text-decoration: none;
	padding-top: 22px;


}.menu_ngang li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.menu_ngang li a:hover{
	color: #F90;
}
#menu_ngang_item_current_page {
	color: #C00;
	text-decoration: none;
}
#menu_ngang_item_current_page:hover {
	color: #F90;
	text-decoration: none;
}

.menu_ngang {
	background-image: url(images/menu_bg.gif);
	height: 59px;
	width: 682px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

#login_form {
	background-image: url(images/login_form.gif);
	height: 233px;
	width: 243px;
	margin: 0px;
	padding: 0px;
}
.input {
	background-image: url(images/hotline.gif);
}


form {
	background:#fff;
	padding:1em;
	border:1px solid #eee;
}

.login {
	background:url(user0000.gif) no-repeat 95% 1em;
}

div.login div {
	margin:0.3em 0;
	clear:both;
}

label {
	float:left;
	width:10em;
	text-align:right;
	margin-right:1em;
}

legend {
	color:#0b77b7;
	font-size:1.2em;
}
legend span {
	width:10em;
	text-align:right;
}

input {
	padding:0.15em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}

input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
} 


input.default {
	color:#bbb;
}

#username
{
	position: relative; 
	top: 60px; 
	left: 25px; 
	width: 12.5em;
}

#password
{
	position: relative; 
	top: 82px; 
	left: 25px; 
	width: 12.5em;
}

#login
{
	position: relative; 
	top: 120px; 
	left: 75px;
	width: 90px;
}

#remember-me
{
	position: relative; 
	top: 112px; 
	left: -170px;
}


