body
{
    margin:0;
    padding:0;
}

div, td, table, tr, img
{
	margin:0;
	padding:0;
	border:0;
}

form 
{
    margin:auto;
}

#header_right 
{
	float:left; 
	background-image: url(images/header_bg_right.gif);
	width:313px;
	height:193px;	
	direction:rtl;
}

/*---menu ngang-----------------------------------------------------------------*/
/*---các style chung của menu ngang, màu sắc. hover, visited ở trong theme------*/
.Menu {
	background-image: url(images/menu_bg.gif);
	height: 59px;
	width: 682px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.DynamicItem
{
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;	
	text-align: center;
	vertical-align: middle;
}

.StaticItem
{	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;	
	text-align: center;
	vertical-align: middle;
}


/*---kết thúc css menu ngang---------------------------------------------------*/

div#site
{
    /*background:#9bcdff;*/
    width:996px;
    margin:auto;
}

div#top
{
    width:996px;
}

div#page
{
    
}

div#left
{
    float:left;
}

div#content
{
   float:left;
}

div#right
{
    float:right;
}

div#bottom
{

}

