body
{
    background:#64b1ff;
    margin:auto;
}

form 
{
    background:#64b1ff;
    margin:auto;
}

/*---menu ngang-----------------------------------------------------------------*/
/*---các style chung của menu ngang, màu sắc. hover, visited ở trong theme------*/
.menu_ngang li{
	display: block;
	float: left;
	text-align: center;
	vertical-align: middle;
	list-style-type: none;
	height: 37px;
	width: 120px;
	text-decoration: none;
	padding-top: 22px;
}
.menu_ngang li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}
#menu_ngang_item_current_page {
	color: #C00;
	text-decoration: none;
}
.menu_ngang {
	background-image: url(images/menu_bg.gif);
	height: 59px;
	width: 682px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.Menu {
	background-image: url(images/menu_bg.gif);
	height: 59px;
	width: 682px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.DynamicItem
{
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;	
	text-align: center;
	vertical-align: middle;
}

.StaticItem
{	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;	
	text-align: center;
	vertical-align: middle;
}


/*---kết thúc css menu ngang---------------------------------------------------*/

div#site
{
    background:#9bcdff;
    width:996px;
    margin:auto;
}

div#top
{
    width:996px;
}

div#page
{
    
}

div#left
{
    float:left;
}

div#content
{
   float:left;
}

div#right
{
    float:right;
}

div#bottom
{

}

