body
{
    background:#fff;
}
/*hình ảnh cho header-----------------------------------------------------------*/
#header_bg_right2 {
	background: url("images/header_bg_right2.gif");
}
/*---css menu ngang---------------------------------------------------*/
/* điều chỉnh màu sắc các thành phần trong menu 
thay đổi back ground*/

#Menu 	
{
	background-image: url(images/menu_bg.gif);
	clear:left;
}

.DynamicItem a
{
	color: #FFFFFF;
}

.DynamicItem a {
	color: #4AD2FF;
}

.StaticItem a {	
    color: #C00;
}

.StaticItem a:hover {
	color: #F90;
}


/*user control------------------------------------------------------------------------*/
.ucLabel 
{
}

.ucRadioButton
{
}

.ucDropDownList
{
}

.ucListBox
{
}

.ucButton
{
    vertical-align:middle;
    background-color:Transparent;
    background-image: url(images/btBackgroundGradient.jpg);
    /*http://vinasupport.com/blog/2010/08/tao-goc-bo-tron-rounded-corner-voi-css3/*/
    /*for chrome, safari*/
    -webkit-border-radius: 4px;
    /*for firefox*/
    -moz-border-radius: 4px;
}

.ucTextbox
{
    vertical-align:baseline;
    background-color:Transparent;
    background-image: url(images/tbBackgroundGradient.jpg);
    /*http://vinasupport.com/blog/2010/08/tao-goc-bo-tron-rounded-corner-voi-css3/*/
    /*for chrome, safari*/
    -webkit-border-radius: 4px;
    /*for firefox*/
    -moz-border-radius: 4px;
}

.ucRadioButton
{
    background-image: url(images/tbBackgroundGradient.jpg);
}

/* checkbox + radio button-------------------------------------------------- */
/* wrapper divs */
.custom-checkbox, .custom-radio { position: relative; }
	
/* input, label positioning */
.custom-checkbox input, 
.custom-radio input {
	position: absolute;
	left: 2px;
	top: 3px;
	margin: 0;
	z-index: 0;
}

.custom-checkbox label, 
.custom-radio label {
	display: block;
	position: relative;
	z-index: 1;
	/*font-size: 1.3em;*/
	padding-right: 1em;
	line-height: 1;
	padding: .5em 0 .5em 30px;
	margin: 0 0 .3em;
	cursor: pointer;
}

.custom-checkbox label{ background: url(images/checkbox.gif) no-repeat; }

.custom-radio label { background: url(images/radiobutton.gif) no-repeat; }

.custom-checkbox label, .custom-radio label {
	background-position: -10px -16px;
}

.custom-checkbox label.hover,
.custom-checkbox label.focus,
.custom-radio label:hover,
.custom-radio label.focus {
	background-position: -10px -116px;
}

.custom-checkbox label.checked, 
.custom-radio label.checked {
	background-position: -10px -216px;
}

.custom-checkbox label.checkedHover, 
.custom-checkbox label.checkedFocus {
	background-position: -10px -316px;
}

.custom-checkbox label.focus, 
.custom-radio label.focus {
	outline: 1px dotted #ccc;
}