body
{
    background:#fff;
}
/*hình ảnh cho header-----------------------------------------------------------*/
#header_bg_right2 {
	background: url("../../images/header_bg_right2.gif");
}
/*---css menu ngang---------------------------------------------------*/
/* điều chỉnh màu sắc các thành phần trong menu 
thay đổi back ground*/
.menu_ngang li a{
	color: #000;
}
.menu_ngang li a:hover{
	color: #F90;
}
#menu_ngang_item_current_page {
	color: #C00;
}
#menu_ngang_item_current_page:hover {
	color: #F90;
}
.menu_ngang {
	background-image: url(../../images/menu_bg.gif);
}

.StaticItem a
{
	color: #C00;
}

.StaticItem a:hover
{
	color: #F90;
}

/*----------------------------------------------------------------------*/