*
{
    margin:0;
    padding:0;
}

body
{
    background:url(bg000000.jpg) top repeat-x;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}

.clear
{
    clear:both;
}

h1
{
    margin-bottom:7px;
    text-align:center;
    color:#006b6e;
    font-size:34px;
    font-weight:normal;
}

.presscenter h1
{
    margin-bottom:7px;
    margin-top:1em;
    color:#006b6e;
    font-size:18px;
    font-weight:normal;
}

h2
{
    padding-bottom:20px;
    font-size:16px;
    font-weight:normal;
    line-height:21px;
}

h3
{
    padding-bottom:20px;
    font-size:14px;
    font-weight:normal;
    line-height:18px;
    color:#006b6e;
}

p
{
    padding-bottom:20px;
    font-size:11px;
    line-height:18px;
}

a
{
    text-decoration:none;
    color:#59a021;
}

a:link,a:visited
{
    color:#59a021;
}

a:hover,a:active
{
    color:#99d827;
}

.intro {
    font-size:14px;
    line-height:21px;
    color:#455764;
}

.content
{
	text-align:center;
}

.content-holder ul
{
    font-size:11px;
    line-height:18px;
    padding-left:14px;
    padding-bottom:10px;
}

.content-holder ul li
{
    padding-bottom:10px;
}

.content-holder hr {
    border:0;
    border-top:1px solid #EDECE8;
    margin:18px 0 38px;
}

.content ul{ 
    padding-left:14px;
}

input[type=checkbox], input[type=radio]
{
    margin-right:5px;
}

/* -- HEADER -- */
.header
{
	margin-left:50px;
}

/* -- PRICING -- */

table#pricing
{
    padding-bottom:30px;
    color:#344450;
}

.featureLabel
{
    width:245px;
    font-weight:bold;
}

.featureCell
{
    width:125px;
    text-align:center;
}

table#pricing th
{
    vertical-align:top;
}

table#pricing th.blank
{
    border-bottom:1px solid #F2F2F2;
}

th.pricing-max
{
    background:url(th_max00.jpg);
    width:125px;
    height:170px;
}

th.pricing-business
{
    background:url(th_busin.jpg);
    width:125px;
    height:170px;
}

th.pricing-professional
{
    background:url(th_profe.jpg);
    width:125px;
    height:170px;
}

th.pricing-starter
{
    background:url(th_start.jpg);
    width:125px;
    height:170px;
}

th.pricing-free
{
    background:url(th_free0.jpg);
    width:125px;
    height:170px;
}

table#pricing th h1
{
    display:none;
}

th .pricing-subscribe
{
    padding-top:128px;
}

table#pricing td
{
    height:39px;
    border-bottom:1px solid #F2F2F2;
}

table#pricing td.bg1
{
    background:#F6F6F6;
    border-bottom:1px solid #e9e9e9;
}

table#pricing td.bg2
{
    background:#FBFBFB;
    border-bottom:1px solid #EEE;
}

table#pricing td.bg3
{
    background:#DFF3C9;
    border-bottom:1px solid #d4e7bf;
}

.planToolTip {
    font-size:9px;
    font-weight:normal;
    vertical-align:super;
}

.pricingFAQ {
    margin:10px;
    padding-top:10px;
}

.pricingFAQ div {
    width:400px;
}

.pricingFAQ h2, .pricing-content .pricingFAQ h2 {
    padding:10px 0;
    color:#006B6E;
}

.pricingFAQ p {
    font-size:12px;
}

.row-header
{
	padding:10px;
}


.content table
{
	text-align:left;
}

#image-row
{
	text-align:center;
}